<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG" dest="logs/log4j2-internal.log" name="MyApp" packages="">
    <Appenders>
        <!-- 应用日志 -->
        <RollingRandomAccessFile name="RollingRandomAccessFile" fileName="logs/app.log"
                                 filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="0.5 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="RollingRandomAccessFile"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>