<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 控制台输出 appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 编码 -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 访问日志专用 appender -->
    <appender name="ACCESS_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- 仿 Nginx access.log 格式 -->
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>
    <appender name="ACCESS_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/access.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/access-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <!-- 根日志 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- 单独为访问日志打 logger（不混业务日志） -->
    <logger name="cn.techoc.oriongateway.core.loggging.AccessLogWebFilter" level="INFO" additivity="false">
        <appender-ref ref="ACCESS_CONSOLE"/>
        <appender-ref ref="ACCESS_FILE"/>
    </logger>

</configuration>
